.bg-image {
  background-image: url("../../../../../public/Assets/8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-position 0.5s ease;
}

.bg-image:hover {
  background-position: center 20%;
}
