@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  background-image: url("../../public/Assets/2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
